/*======================================*/
           /*THEME 3 STYLE*/
/*======================================*/

.wpallshare-theme3 li {
  clear: both;
  display: block;
}

.wpallshare-theme3 a.wpas-digg {background-color: #2169A8; } 
.wpallshare-theme3 a.wpas-google-plus {background-color: #D73D32; } 
.wpallshare-theme3 a.wpas-facebook {background-color: #3C579E; } 
.wpallshare-theme3 a.wpas-twitter {background-color: #01BBF6; } 
.wpallshare-theme3 a.wpas-linkedin {background-color: #1484C3; } 
.wpallshare-theme3 a.wpas-pinterest {background-color: #BD2126; }

.wpallshare-theme3 a {
  color: #ffffff !important;
  float: left;
  font-family: "latoregular";
  height: 36px;
  width: 36px;
  line-height: 26px;
  margin: 2px 1px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
  border-radius: 0;
    -webkit-transition: width 0.3s !important;
    -moz-transition: width 0.3s !important;
    -ms-transition: width 0.3s !important;
    -o-transition: width 0.3s !important;
  transition: width 0.3s !important;
}

.wpallshare-theme3 a:hover{
  background-color: #444444;
  width: 160px;
}

.wpallshare-theme3 a span.count {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 8px;
  padding-left: 8px;
  float: right;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 14px;
  margin-top: 5px;
}

.wpallshare-theme3 a span.sharetitle {
  padding-left: 8px;
}
